pandas
numpy
scipy
scikit-learn
matplotlib
tensorflow
aiohttp
statsmodels
PyYAML
seaborn
oandapyV20
pyTelegramBotAPI
python-dateutil
histdata
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability