pandas
numpy
scipy
scikit-learn
matplotlib
tensorflow
aiohttp
statsmodels
PyYAML
seaborn
oandapyV20
pyTelegramBotAPI
python-dateutil
histdata
keras>=3.11.3 # not directly required, pinned by Snyk to avoid a vulnerability